/*************************
general 
**************************/


.container {
  border: dotted 0px #FF9F7A;
  padding: 1%;
  margin: 0;
}

.grey_box {
  // background-color: #ccc;
  margin: 0;
}


.deleteListItem {
  margin: 0 0 0 15px;
  position: relative;  /* move it down slightly from where it would */
  top: 6px;            /* naturally appear */
  border-radius: 7px;
}

.checkbox {
  margin: 1px 15px 10px 0 ;
  position: relative;  
  top: 0px;            
  font-size: 2em;

}

.completed {
  text-decoration: line-through;
  color: #999;
}


body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-transform: none;
  text-align: left;
} 


/*************************
heading 
**************************/

header {
  float: left;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background: #FF9A61;
  border-color: #599a68;
  border-radius: 0%;
}

h1 {
  float: left;
  margin: 10px 0 15px 10px;
  padding: 5px 0 0 10px;
  width: 100%;
  font-family: 'Sansita One', cursive;
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8em;
  text-align: left;
  text-transform: none;
  color: #FFEEE5;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 10px 10px 0px 10px;
  font-size: .95em;
  font-weight: normal;
  line-height: 0.8em;
  text-align: left;
  text-transform: none;
  color: #FF9B61;

}

/*************************
task list 
**************************/

ul {
  font-size: 1.25em;
  line-height: 2em;
  text-transform: none;
  list-style: none; 
  margin: 0px 0px 10px 0px;
  color: #698F9C;

}

.submitbutton {
  background-color: transparent;
  border-radius: 1%;
  margin: 10px 0px 0px 40px;
  border: none;
  font-family: 'Sansita One', cursive;
  font-size: 1.8em;
  color: #53B2B1;

}

.taskfield {
  width: 20em;
  height: 2.5em;
}



/*************************
colors 
**************************/

/* site body */
body {
  background-color: #FFF9FC;
  color: #444;
}








  













